<?xml version="1.0"?>
<!--
/**
 * Copyright 2016 Shockwave-Design - J. & M. Kramer, all rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <system>
            <smtp>
                <type>debug</type>
                <storeage>debug</storeage>
                <cache_limit>100</cache_limit>
                <upload_limit>3</upload_limit>
                <host_spool_folder_path>/var/www/sites/html/var/spool</host_spool_folder_path>
                <host_spool_folder_retry_limit>5</host_spool_folder_retry_limit>
            </smtp>
        </system>
        <transport>
            <types>
                <default>
                    <label>Default</label>
                    <value>default</value>
                    <class>Magento\Framework\Mail\Transport</class>
                </default>
            </types>
            <storeages>
                <default>
                    <label>Default</label>
                    <value>default</value>
                    <class>Shockwavemk\Mail\Base\Model\Storeages\DefaultStoreage</class>
                </default>
            </storeages>
        </transport>
    </default>
</config>
