<?xml version="1.0"?>
<!--
/**
 * Copyright 2016 Shockwave-Design - J. & M. Kramer, all rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Mail\TransportInterface" type="\Shockwavemk\Mail\Base\Model\Transports\Base" />
    <preference for="Magento\Framework\Mail\MessageInterface" type="\Shockwavemk\Mail\Base\Model\Mail\Message" />
    <preference for="Magento\Framework\Mail\Template\TransportBuilder" type="\Shockwavemk\Mail\Base\Model\Template\TransportBuilder" />
</config>
